.Frame-21 {
    width: 280px;
    height: 150px;
  }

.Frame-20 {
    width: 81px;
    height: 70px;
  }
  
  .oneimage {
    width: 150px;
    height: 150px;
    flex-grow: 0;
    border-radius: 20px;
    background-image: linear-gradient(136deg, #dadada 5%, #e8e8e8 97%);
  }

  .onecute {
    width: 81px;
    height: 35px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 29px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--main);
  }


  .percent {
    width: 62px;
    height: 35px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 29px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--main);
  }

  .fit {
    width: 218px;
    height: 22px;
    margin: 18px 86px 58px;
    font-family: Inter;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--black-1);
  }

  .widebutton {
    width: 319px;
    height: 65px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 26px 27px 0 14px;
    /* padding: 14px 66px; */
    border-radius: 20px;
    background-image: linear-gradient(78deg, #ffe144 2%, #f93560 40%, #da21b0 67%, #585acb 100%);
  }

  .return {
    width: 238px;
    height: 24px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--white);
  }