.Logo-1 {
	width: 202px;
	height: 135px;
	margin: 0 94px 31px;
  }

.-Instagram- {
	width: 318px;
	height: 70px;
	margin: 31px 36px 6px;
	font-family: Inter;
	font-size: 29px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #000;
}

.AI- {
	width: 305px;
	height: 24px;
	margin: 6px 43px 23px 42px;
	font-family: Inter;
	font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #000;
}

.public- {
	width: 127px;
	height: 15px;
	margin: 0 77px 6px 76px;
	font-family: Inter;
	font-size: 12px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: var(--main);
  }
  

.Rectangle-1 {
	position: relative;
	width: 280px;
	height: 40px;
	flex-grow: 0;
	margin: 0 0 41px;
	/* padding: 5px 8px 6px 12px; */
	border-radius: 9px;
	background-color: var(--grey-1);
}


.Vector {
	width: 21px;
	height: 21px;
	flex-grow: 0;
	margin: 5px 0 5px 7px;
}

.Instagram- {
	left: 42px;
	position: absolute;
	width: 117px;
	height: 21px;
	flex-grow: 0;
	/* margin: 4px 51px 4px 9px; */
	font-family: Inter;
	font-size: 17px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: var(--grey-3);
	transition: .5s;
	-webkit-user-select: none; /* Safari */
  	-ms-user-select: none; /* IE 10 and IE 11 */
  	user-select: none; /* Standard syntax */
}

input {
	width: 160px;
	height: 36px;
	border: none;
	margin: 4px 4px 4px 4px;
	-webkit-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: var(--grey-1);
	font-size: 17px;
}

input:valid + .Instagram- {
	opacity: 0;
}

input:focus + .Instagram- {
	opacity: 0;
}

.Rectangle-17 {
	width: 62px;
	height: 29px;
	flex-grow: 0;
	/* padding: 7px 8px 7px 9px; */
	margin: 5px 7px 5px 0;
	border-radius: 14.5px;
	background-image: linear-gradient(65deg, #ffe144 1%, #f93560 40%, #da21b0 67%, #585acb 100%);
	font-family: Inter;
	font-size: 12px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: var(--white);
}

.Rectangle-2 {
	width: 122px;
	height: 51px;
	margin: 41px 38px 0 0;
	/* padding: 15px 46px 15px 44px; */
	border-radius: 15px;
}

.Rectangle-3 {
	width: 120px;
	height: 51px;
	margin: 41px 0 0 0;
	/* padding: 15px 45px 15px 43px; */
	border-radius: 15px;
	background-color: var(--grey-3);
}

.selected {
	background-color: var(--main);
}

.unselected {
	background-color: var(--grey-3);
}

.gender {
	width: 32px;
	height: 21px;
	font-family: Inter;
	font-size: 17px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: var(--white);
}