body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

:root {
    --main: #ff59a6;
    --black-1: #1a1a1a;
    --grey-6: #666;
    --grey-3: #b3b3b3;
    --grey-4: #cccccc;
    --grey-0-5: #f2f2f2;
    --grey-1: #e6e6e6;
    --white: #fff;
}

/* flex center */
.fc {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* flex center column direction */
.fcc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* flex start column direction */
.fsc {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

/* flex between column direction */
.fbc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

/* flex between start column direction */
.fbsc {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

/* flex start */
.fs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* flex between */
.fb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fe {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button {
    transition: 0.3s;
    cursor: pointer;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.button:hover {
    opacity: 0.75;
}


.titleTab {
    width: 390px;
    height: 121px;
    /* margin: 0 0 77px; */
    /* padding: 44px 120px 19px 25px; */
    background-color: var(--white);
}

.smallLogo {
    width: 34px;
    height: 23px;
    /* margin: 0 58px 5px 123px; */
}

.titleRow {
    position: relative;
    width: 390px;
}


.backButton {
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
    /* margin: 5px 65px 0 0; */
    padding: 6.3px;
}

.pageTitle {
    width: 150px;
    height: 30px;
    /* margin: 5px 0 0 65px; */
    font-family: Inter;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}


.Logo-1 {
    width: 202px;
    height: 135px;
    margin: 0 94px 31px;
}

.-Instagram- {
    width: 318px;
    height: 70px;
    margin: 31px 36px 6px;
    font-family: Inter;
    font-size: 29px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}

.AI- {
    width: 305px;
    height: 24px;
    margin: 6px 43px 23px 42px;
    font-family: Inter;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}

.public- {
    width: 127px;
    height: 15px;
    margin: 0 77px 6px 76px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--main);
}


.Rectangle-1 {
    position: relative;
    width: 280px;
    height: 40px;
    flex-grow: 0;
    margin: 0 0 41px;
    /* padding: 5px 8px 6px 12px; */
    border-radius: 9px;
    background-color: var(--grey-1);
}


.Vector {
    width: 21px;
    height: 21px;
    flex-grow: 0;
    margin: 5px 0 5px 7px;
}

.Instagram- {
    left: 42px;
    position: absolute;
    width: 117px;
    height: 21px;
    flex-grow: 0;
    /* margin: 4px 51px 4px 9px; */
    font-family: Inter;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--grey-3);
    transition: .5s;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

input.taginput {
    width: 160px;
    height: 36px;
    border: none;
    margin: 4px 4px 4px 4px;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--grey-1);
    font-size: 17px;
}

input.taginput:valid+.Instagram- {
    opacity: 0;
}

input.taginput:focus+.Instagram- {
    opacity: 0;
}

input.submit {
    border: none;
    width: 62px;
    height: 29px;
    flex-grow: 0;
    /* padding: 7px 8px 7px 9px; */
    margin: 5px 7px 5px 0;
    border-radius: 14.5px;
    background-image: linear-gradient(65deg, #ffe144 1%, #f93560 40%, #da21b0 67%, #585acb 100%);
    font-family: Inter;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--white);
}

.Rectangle-2 {
    width: 122px;
    height: 51px;
    margin: 41px 38px 0 0;
    /* padding: 15px 46px 15px 44px; */
    border-radius: 15px;
}

.Rectangle-3 {
    width: 120px;
    height: 51px;
    margin: 41px 0 0 0;
    /* padding: 15px 45px 15px 43px; */
    border-radius: 15px;
    background-color: var(--grey-3);
}

.selected {
    background-color: var(--main);
}

.unselected {
    background-color: var(--grey-3);
}

.gender {
    width: 32px;
    height: 21px;
    font-family: Inter;
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--white);
}



.loading {
    width: 106px;
    height: 35px;
    margin: 0 84px 32px 98px;
    font-family: Inter;
    font-size: 29px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}


.progressbar {
    position: relative;
    width: 288px;
    height: 30px;
}

.progresspercent {
    width: 28px;
    height: 22px;
    flex-grow: 0;
    position: absolute;
    right: 0;
    top: 0;
    /* margin: 0 0 0 260px; */
    font-family: Inter;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.progresscontainer {
    height: 10px;
    flex-grow: 0;
    margin: 18px 0 0;
    /* padding: 0 272px 0 0; */
    border: solid 1px #000;
    overflow: hidden;
}

.progress {
    height: 10px;
    flex-grow: 0;
    background-image: linear-gradient(58deg, #ffe144 1%, #f93560 40%, #da21b0 67%, #585acb 100%);
}

.Frame-20 {
    width: 81px;
    height: 70px;
}

.oneimage {
    width: 150px;
    height: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
    flex-grow: 0;
    border-radius: 20px;
    background-image: linear-gradient(136deg, #dadada 5%, #e8e8e8 97%);
    object-fit: contain;
}

.onecute {
    width: 300px;
    height: 35px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 29px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--main);
}

.onekorcute {
    width: 300px;
    height: 18px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.75px;
    text-align: left;
    color: var(--grey-4);
}


.percent {
    width: 62px;
    height: 35px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 29px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--main);
}

.fit {
    width: 218px;
    height: 22px;
    margin: 18px 86px 58px;
    font-family: Inter;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--black-1);
}

.widebutton {
    width: 319px;
    height: 65px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
    /* padding: 14px 66px; */
    border-radius: 20px;
    background-image: linear-gradient(78deg, #ffe144 2%, #f93560 40%, #da21b0 67%, #585acb 100%);
}

.return {
    width: 238px;
    height: 24px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--white);
}

.Frame-20 {
    width: 81px;
    height: 70px;
}

.oneimage {
    width: 150px;
    height: 150px;
    flex-grow: 0;
    border-radius: 20px;
    background-image: linear-gradient(136deg, #dadada 5%, #e8e8e8 97%);
}

.fit {
    width: 218px;
    height: 22px;
    margin: 18px 86px 58px;
    font-family: Inter;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--black-1);
}

.return {
    width: 238px;
    height: 24px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--white);
}


.resultrect {
    /* width: 360px; */
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;
    margin: 77px 15px 20px;
    padding: 15px 15px 7px;
    border-radius: 20px;
    border: solid 1px var(--grey-3);
}

.CUTE-78 {
    width: 300px;
    height: 35px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 29px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--main);
}

.-CUTE- {
    width: 300px;
  height: 35px;
  flex-grow: 0;
  font-family: Inter;
  font-size: 29px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--main);
}

.-CUTE- ._ {
    color: var(--main);
}

.Group-8 {
    width: 220px;
    height: 119px;
    flex-grow: 0;
}


.graph .lengthlabel div {
    width: 17px;
    height: 8px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 7px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--grey-3);
}

.graph .featurelabel div {
    width: 48px;
    height: 15px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--grey-3);
}

.primaryColor {
    color: var(--main) !important;
}

.primaryBackground {
    background-color: var(--main) !important;
}

.graph .figline div {
    width: 1px;
    height: 110px;
    margin-left: 8px;
    margin-right: 8px;
    background-color: var(--grey-1);
}

.graph .bar {
    width: 125px;
    height: 14px;
    flex-grow: 0;
    background-color: var(--grey-3);
}

.graph .num {
    margin-left: 3px;
    width: 17px;
    height: 10px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 8px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--grey-3);
}

.Frame-11 {
    width: 330px;
    height: 119px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 0;
}

.profileimage {
    object-fit: contain;
    width: 100px;
  height: 100px;
  flex-grow: 0;
  border-radius: 50%;
}

.Frame-6 {
    width: 145px;
    height: 88px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 23px;
    padding: 0;
}

.share {
    width: 70px;
    height: 15px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.sns {
    width: 70px;
}

.image-1 {
    width: 25px;
    height: 25px;
    flex-grow: 0;
}

.image-2 {
    width: 25px;
    height: 25px;
    flex-grow: 0;
}

.addImage {
    width: 360px;
    height: 312px;
    gap: 30px;
    margin: 60px 0 40px 0;
    /* padding: 30px 15px 50px; */
    border-radius: 20px;
    border: solid 1px var(--grey-3);
}

.AIanalysys {
    width: 199px;
    height: 22px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}

.Line-2 {
    width: 330px;
    height: 1px;
    flex-grow: 0;
    background-color: var(--grey-3);
}

.Frame-27 {
    width: 330px;
    height: 150px;
}

.oneImage {
    width: 150px;
    height: 150px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    /* padding: 19px 35px; */
    border-radius: 15px;
    background-color: var(--grey-1);
}

.howmuchcute {
    width: 125px;
    margin-bottom: 5px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}

.muchcute {
    color: var(--main);
}

.oneanalysis {
    width: 75px;
    height: 22px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--black-1);
}

.multiImage {
    width: 150px;
    height: 150px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    /* padding: 19px 28px; */
    border-radius: 15px;
    background-color: var(--grey-1);
}

.mostcutefind {
    width: 125px;
    margin-bottom: 5px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}

.mostcute {
    color: var(--main);
}


.multianalysis {
    width: 92px;
    height: 22px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--black-1);
}


.Rectangle-10 {
    width: 200px;
    height: 200px;
    margin: 68px 95px 49px;
    /* padding: 50px; */
    border-radius: 20px;
    border: solid 2px var(--black-1);
    overflow: hidden;
}

.uploadImage {
    max-width: 100%;
    max-height: 100%;
}

.Frame-24 {
    width: 199px;
    height: 50px;
    gap: 10px;
    margin: 49px 95px 0 96px;
    /* padding: 14px 66px; */
    border-radius: 15px;
}

.active {
    background-color: var(--main);
}

.disabled {
    background-color: var(--grey-3);
}

.analysis {
    width: 67px;
    height: 22px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--white);
}

.fileinput1 {
    display: none;
}

.multiresult {
    width: 330px;
  height: 154px;
  margin: 8px 3px 9px 0;
  padding: 0;
}

.multiresult div {
    width: 100%;
}

.multiresult .feature {
    font-family: Inter;
  font-size: 29px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--main);
}

.multiresult .image {
    width: 100px;
  height: 100px;
  flex-grow: 0;
  border-radius: 17px;
    object-fit: contain;
}

.sortContainer {
    width: 362px;
}

.sortButton {
    width: 101px;
  height: 21px;
    font-family: Inter;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--grey-3);
}

.multiResultsBox {
    width: 360px;
  margin: 9px 15px 12px;
  /* padding: 10px 15px; */
  border-radius: 20px;
  border: solid 1px var(--grey-3);
}

.moreButton {
    width: 41px;
    height: 39px;
    margin: 12px 174px 31px 175px;
    font-family: Inter;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--grey-6);
}

.moreButton .more {
    width: 0;
    height: 0;
    margin-bottom: 5px;
    border-top: solid 13px var(--grey-6);
    border-radius: 10px;
    border-left: solid 20px transparent;
    border-right: solid 20px transparent;
}

.moreButton .collapse {
    width: 0;
    height: 0;
    margin-bottom: 5px;
    border-bottom: solid 13px var(--grey-6);
    border-radius: 10px;
    border-left: solid 20px transparent;
    border-right: solid 20px transparent;
}