body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

:root {
    --main: #ff59a6;
    --black-1: #1a1a1a;
    --grey-6: #666;
    --grey-3: #b3b3b3;
    --grey-0-5: #f2f2f2;
    --grey-1: #e6e6e6;
    --white: #fff;
}

/* flex center */
.fc {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* flex center column direction */
.fcc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* flex start column direction */
.fsc {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

/* flex start */
.fs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.fb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
	transition: 0.3s;
	cursor: pointer;
	-webkit-user-select: none; /* Safari */
  	-ms-user-select: none; /* IE 10 and IE 11 */
  	user-select: none; /* Standard syntax */
}

.button:hover {
	opacity: 0.75;
}


.Rectangle-16 {
    width: 390px;
    height: 121px;
    /* margin: 0 0 77px; */
    /* padding: 44px 120px 19px 25px; */
    background-color: var(--white);
}

.logo {
    width: 34px;
    height: 23px;
    /* margin: 0 58px 5px 123px; */
}

.tab {
    position: relative;
    width: 390px;
}


.back {
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
    /* margin: 5px 65px 0 0; */
    padding: 6.3px;
}

.a- {
    width: 150px;
    height: 30px;
    /* margin: 5px 0 0 65px; */
    font-family: Inter;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}